
WebApiTEColones/.vs/config/applicationhost.config
WebApiTEColones/.vs/config/applicationhost.config
WebApiTEColones/.vs/config/applicationhost.config
WebApiTEColones/.vs/config/applicationhost.config
WebApiTEColones/.vs/config/applicationhost.config
WebApiTEColones/.vs/config/applicationhost.config
WebApiTEColones/.vs/WebApiTEColones/v15/.suo
WebApiTEColones/.vs/config/applicationhost.config
*.config
WebApiTEColones/.vs/WebApiTEColones/v15/.suo
WebApiTEColones/WebApiTEColones/obj/Debug/WebApiTEColones.pdb
WebApiTEColones/WebApiTEColones/obj/Debug/WebApiTEColones.dll
WebApiTEColones/WebApiTEColones/obj/Debug/WebApiTEColones.csprojAssemblyReference.cache
WebApiTEColones/WebApiTEColones/obj/Debug/WebApiTEColones.csproj.FileListAbsolute.txt
WebApiTEColones/WebApiTEColones/obj/Debug/WebApiTEColones.csproj.CoreCompileInputs.cache
WebApiTEColones/WebApiTEColones/bin/WebApiTEColones.pdb
WebApiTEColones/WebApiTEColones/bin/WebApiTEColones.dll
WebApiTEColones/.vs/WebApiTEColones/v15/Server/sqlite3/storage.ide-wal
WebApiTEColones/.vs/WebApiTEColones/v15/Server/sqlite3/storage.ide-shm
WebApiTEColones/.vs/WebApiTEColones/v15/Server/sqlite3/storage.ide
WebApiTEColones/.vs/WebApiTEColones/v15/.suo
