.sidenav-container {
  height: 100%;
  background: #002C5C;

}

.sidenav {
  width: 200px;
  background: #002C5C;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

p{
  color:#FFFFFF;

}

#botonEstadisticas{
  background: #002C5C;
  width: 100%;
}

#botonPuntos{
  background: #002C5C;
  width: 100%;
}

#botonPuntos:hover{
  background-color: #2B82F1;
}

#botonEstadisticas:hover{
  background-color: #2B82F1;
}

.mat-list-item {
  margin-top: 40px;
}

#botonMenu{
  background: #002C5C;
}

.mat-icon{
  color: #FFFFFF;
  font-size: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}



